#login
    background: #481c8f
    width:  100vw
    height: 100vh
    display: table-cell
    vertical-align: middle
    >.box
        background: #FFF4
        color: #FFF
        margin: auto
        max-width: 350px
        padding: 8px
        border-radius: 5px
        >.ts.input
            margin: 6px 0
            >input
                color: #FFF
        >.ts.button
            border: none
            &:hover
                border-radius: 500em