.ssbg
    background: #000 url(https://i.imgur.com/mNdGZ17.jpg)
#login
    background: rgba(0, 0, 0, 0.4)
    width:  100vw
    height: 100vh
    display: table-cell
    vertical-align: middle
    >.box
        background: #FFF4
        color: #FFF
        margin: auto
        max-width: 350px
        padding: 8px
        border-radius: 5px
        >.ts.input
            margin: 6px 0
            >input
                color: #FFF
        >.ts.button
            margin-top: 10px
            border: none
            background: rgba(0, 0, 0, 0.4)
            &:hover
                background: rgba(0, 0, 0, 0.6)
            &:active
                background: rgba(0, 0, 0, 0.8)